@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #808080; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3fada8,
    #808080
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3fada8,
    #808080
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex: 1;
  flex-direction: row;
}

button {
  display: flex;
  font-size: 18px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
