@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #808080; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3fada8,
    #808080
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3fada8,
    #808080
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex: 1;
  flex-direction: row;
}
.c-player {
  flex: 0.3;
  display: block;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 50px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  margin: 10px 0;
}
.c-player > .time-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.c-player > p {
  color: black;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
.c-player > .c-player-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.c-player > .c-player-header > button {
  margin: 0;
  height: 30px;
  width: 30px;
  background: transparent;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.c-player > .c-player-header > button:hover {
  margin: 0;
  height: 30px;
  width: 30px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.c-player > .c-player-header > .menu-container {
  position: relative;
  display: inline-block;
}
.c-player > .c-player-header > .menu-container > .menu-extend {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px;
  z-index: 1;
  border-radius: 10px;
}
.c-player > .c-player-header > .menu-container > .menu-extend.extend {
  display: block;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.c-player > .c-player-header > .menu-container > button {
  margin: 5px 0;
  height: 30px;
  width: 30px;
  background: transparent;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.c-player > .c-player-header > .menu-container > button:hover {
  margin: 5px 0;
  height: 30px;
  width: 30px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.c-player > .c-player-header > .menu-container > .menu-extend > button {
  margin: 10px 0;
}
.c-player-details .details-img {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}
.c-player-details .details-img .pause {
  display: block;
  margin: 30px auto;
  width: 200px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  -webkit-animation: spin 5s linear infinite;
  -moz-animation: spin 5s linear infinite;
  animation: spin 5s linear infinite;

  animation-play-state: paused;
}
.c-player-details .details-img .play {
  display: block;
  margin: 30px auto;
  width: 200px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  -webkit-animation: spin 5s linear infinite;
  -moz-animation: spin 5s linear infinite;
  animation: spin 5s linear infinite;
  animation-play-state: play;
}
.c-player-details .details-img::after {
  content: "";
  background-color: #a1c4fd;
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, 50%);
}
.c-player-details .details-title {
  color: #eee;
  font-size: 28px;
  text-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  text-align: center;
  margin-bottom: 18px;
}
.c-player-details .details-artist {
  color: #eee;
  font-size: 16px;
  text-align: center;
  margin-bottom: 18px;
}
.c-player > .slider {
  padding: 20px 0;
}
.c-player-controls {
  display: flex;
  margin-bottom: 25px;
  flex-direction: column;
}
.c-player-controls > .c-player-controls-plus {
  display: flex;
  flex-direction: row;
  /* margin-bottom: 15px; */
  align-items: center;
  justify-content: space-between;
  min-height: 42px;
}
.c-player-controls > .c-player-controls-plus > .volume-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.c-player-controls > .c-player-controls-plus > .volume-container > button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-player-controls
  > .c-player-controls-plus
  > .volume-container
  > button
  > .slider {
  display: none;
  width: 60px;
  margin-left: 18px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.c-player-controls
  > .c-player-controls-plus
  > .volume-container
  > button:hover
  > .slider {
  display: flex;
  width: 60px;
  margin-left: 18px;
}
.c-player-controls > .c-player-controls-traditional {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
button {
  display: flex;
  font-size: 18px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.c-player-controls > .c-player-controls-traditional > .play-btn {
  font-size: 30px;
  -webkit-transition: filter 0.3s ease;
  -moz-transition: filter 0.3s ease;
  -o-transition: filter 0.3s ease;
  transition: filter 0.3s ease;
}
.c-player-controls > .c-player-controls-traditional > button {
  -webkit-transition: filter 0.3s ease;
  -moz-transition: filter 0.3s ease;
  -o-transition: filter 0.3s ease;
  transition: filter 0.3s ease;
}
.c-player-controls > .c-player-controls-traditional > button:hover {
  filter: blur(2px);
}
.c-player-controls button {
  display: flex;
  margin: 0 30px;
  font-size: 18px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.MuiSlider-root {
  padding: 20px 0;
}
.MuiSlider-root:hover > .MuiSlider-rail,
.MuiSlider-root:hover > .MuiSlider-track {
  height: 4px;
}
.MuiSlider-root:hover > .MuiSlider-thumb {
  box-shadow: 0px 0px 0px 8px rgba(63, 81, 181, 0.16);
}
